<!DOCTYPE html>
<html>
<head>
  <title>Your tasks for today - {{.Date}}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>
            {{if .Tasks}}
            Your tasks for today are:    
            {{else}}
            You have no tasks for today :)
            {{end}}
            <div class="header-methods">
                <button type="button" id="create-btn">+create</button>
                <button type="button" class="delete-mult-btn" id="delete-mult-btn" style="display:none;">Delete</button>
            </div>
        </h1>
        <div class="content-form" id="create-form">
            <form id="new-task-form">
                <ul>
                    <li>
                        <label for="task-name">Name:</label>
                        <input type="text" id="task-name" name="task_name">
                    </li>
                    <li>
                        <label for="task-desc">Description:</label>
                        <textarea id="task-desc" name="task_desc"></textarea>
                    </li>
                    <li>
                        <label for="task-due">Due date:</label>
                        <input type="datetime-local" id="task-due" name="task_due">
                    </li>
                    <li>
                        <button type="submit" class="submit-btn">Submit</button>
                    </li>
                </ul>
            </form>
        </div>
        {{range $task := .Tasks}}
        {{if not $task.task_mark}}
        <button type="button" class="collapsible" name="{{$task._id}}">
          <span class="pressable">{{$task.task_name}}</span>
          <div class="checkbox-cont">
            <input type="button" class="delete-btn" value="Delete" id="{{$task._id}}">
            <input type="checkbox" class="checkbox">
          </div>
        </button>
        <div class="content">
          <ul class="task-view">
            <li> <b>Task description:</b> {{$task.task_desc}}</li>
            <li style="display: flex; justify-content: space-between;"> 
                <span><b>Task due:</b> {{$task.task_due}}</span>
                <button type="button" class="edit-task-btn">Modify</button>
            </li>
            <li id="task{{$task._id}}_mark" style="display: none;">{{$task.task_mark}}</li>
          </ul>
          <form class="task-edit" style="display: none;">
            <ul>
                <li>
                    <label for="edit-task-name">Name:</label>
                    <input type="text" class="edit-task-name" value="{{$task.task_name}}">
                </li>
                <li>
                    <label for="edit-task-desc">Description:</label>
                    <textarea class="edit-task-desc">{{$task.task_desc}}</textarea>
                </li>
                <li>
                    <label for="edit-task-due">Due date:</label>
                    <input type="datetime-local" class="edit-task-due" value="convertUnixTimestamp({{$task.task_due}})">
                </li>
                <li style="display: flex; justify-content: space-between;">
                    <button type="submit" class="submit-edit-btn">Save</button>
                    <button type="submit" class="complete-edit-btn">Completed</button>
                    <button type="button" class="cancel-edit-btn">Cancel</button>
                </li>
            </ul>
          </form>
        </div>
        {{end}}
        {{end}}
    </div>

    <script>
        var currentHost = window.location.protocol + '//' + window.location.host
        console.log(currentHost)
        document.addEventListener("DOMContentLoaded", function() {
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function(event) {
                    if (event.target.tagName.toLowerCase() === 'input') {
                        // Do nothing if the checkbox is clicked
                        return;
                    }
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }

            var delBtn = document.getElementsByClassName("delete-btn");
            for (i = 0; i < delBtn.length; i++) {
                delBtn[i].addEventListener("click", function(event) {
                    var id = this.id;
                    deleteTasks([id]);
                    var content = document.getElementsByName(id)[0];
                    var sib = content.nextElementSibling;
                    content.style.display = "none";
                    sib.style.display = "none";
                });
            }

            document.getElementById("create-btn").addEventListener("click", function() {
                var formContent = document.getElementById("create-form");
                if (formContent.style.maxHeight) {
                    this.innerHTML = "+create";
                    formContent.style.maxHeight = null;
                } else {
                    this.innerHTML = "cancel";
                    formContent.style.maxHeight = formContent.scrollHeight + "px";
                }
            });

            document.getElementById("new-task-form").addEventListener("submit", function(event) {
                event.preventDefault();
                // Add logic to submit the new task
                var name = document.getElementById("task-name").value;
                var desc = document.getElementById("task-desc").value;
                var due = getUnixTimestamp();
                console.log(name + " " + desc + " " + due);
                addTask(name, desc, due);
            });

            var checkboxes = document.getElementsByClassName("checkbox");
            for (i = 0; i < checkboxes.length; i++) {
                checkboxes[i].addEventListener("change", function() {
                    toggleDeleteButton();
                });
            }

            document.getElementById("delete-mult-btn").addEventListener("click", function(event){
                var checkboxes = document.getElementsByClassName("checkbox");
                var at_least_one_checked = false;
                var checked_ids = []
                for (var i = 0; i < checkboxes.length; i++) {
                    if (checkboxes[i].checked) {
                        var id = checkboxes[i].previousElementSibling.id
                        checked_ids.push(id)
                    }
                }
                console.log(checked_ids)
                deleteTasks(checked_ids)
                for(var i=0; i<checked_ids.length; i++){
                    var id = checked_ids[i]
                    var content = document.getElementsByName(id)[0];
                    var sib = content.nextElementSibling;
                    content.style.display = "none";
                    sib.style.display = "none";
                }
            });

            var editBtns = document.getElementsByClassName("edit-task-btn");
            for (i = 0; i < editBtns.length; i++) {
                editBtns[i].addEventListener("click", function() {
                    var taskView = this.closest('.task-view');
                    var taskEdit = taskView.nextElementSibling;
                    taskView.style.display = 'none';
                    taskEdit.style.display = 'block';

                    // Adjust the height of the collapsible content
                    var content = taskEdit.closest('.content');
                    content.style.maxHeight = content.scrollHeight + "px";
                });
            }

            var cancelEditBtns = document.getElementsByClassName("cancel-edit-btn");
            for (i = 0; i < cancelEditBtns.length; i++) {
                cancelEditBtns[i].addEventListener("click", function() {
                    var taskEdit = this.closest('.task-edit');
                    var taskView = taskEdit.previousElementSibling;
                    taskEdit.style.display = 'none';
                    taskView.style.display = 'block';

                    // Adjust the height of the collapsible content
                    var content = taskEdit.closest('.content');
                    content.style.maxHeight = content.scrollHeight + "px";
                });
            }

            var editForms = document.getElementsByClassName("submit-edit-btn");
            for (i = 0; i < editForms.length; i++) {
                editForms[i].addEventListener("click", function(event) {
                    event.preventDefault();
                    var form = document.getElementsByClassName("task-edit")[0];
                    var id = document.getElementsByClassName("collapsible")[0].name
                    var name = form.querySelector('.edit-task-name').value;
                    var desc = form.querySelector('.edit-task-desc').value;
                    var due = getUnixTimestamp(form.querySelector('.edit-task-due').value);
                    var mark = document.getElementById("task" + id + "_mark").value === 1
                    updateTask(id, name, desc, due, mark);
                });
            }

            var completeTasks = document.getElementsByClassName("complete-edit-btn");
            for (i = 0; i < editForms.length; i++) {
                completeTasks[i].addEventListener("click", function(event) {
                    event.preventDefault();
                    var form = document.getElementsByClassName("task-edit")[0];
                    var id = document.getElementsByClassName("collapsible")[0].name
                    var name = form.querySelector('.edit-task-name').value;
                    var desc = form.querySelector('.edit-task-desc').value;
                    var due = getUnixTimestamp(form.querySelector('.edit-task-due').value);
                    updateTask(id, name, desc, due, true);
                });
            }

            var dueElements = document.getElementsByClassName('task-due');
            for (var i = 0; i < dueElements.length; i++) {
                var element = dueElements[i];
                var timestamp = element.textContent;
                var date = convertUnixTimestamp(timestamp);
                element.textContent = formatDate(date);
            }

        });

        function convertUnixTimestamp(unixTimestampString) {
            var unixTimestamp = parseInt(unixTimestampString);
            var date = new Date(unixTimestamp * 1000);
            return date;
        }


        function toggleDeleteButton() {
            var checkboxes = document.getElementsByClassName("checkbox");
            var deleteBtn = document.getElementById("delete-mult-btn");
            var at_least_one_checked = false;
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].checked) {
                    at_least_one_checked = true;
                    break;
                }
            }
            deleteBtn.style.display = at_least_one_checked ? "inline-block" : "none";
        }

        function deleteTasks(ids_p) {
            const ids = ids_p.join(",");
            console.log(ids);
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE) {
                    if (this.status === 200) {
                        console.log("Deleted");
                    } else {
                        console.log("Error: " + this.status);
                    }
                }
            };
            xhttp.open("DELETE", currentHost + "/delete_tasks", true);
            xhttp.setRequestHeader("Content-Type", "application/json");
            xhttp.send(JSON.stringify({ "ids": ids }));
        }

        function getUnixTimestamp(input) {
            var date = new Date(input);

            if (isNaN(date.getTime())) {
                return "Invalid date/time";
            }

            var unixTimestamp = date.getTime() / 1000;

            return unixTimestamp.toString();
        }

        function addTask(name, desc, due) {
            console.log(name + ", " + desc + ", " + due);
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE) {
                    if (this.status === 200) {
                        console.log("Task added");
                    } else {
                        console.log("Error: " + this.status);
                    }
                    window.location.reload();
                }
            };
            xhttp.open("PUT", currentHost + "/create", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "task_name": name, "task_desc": desc, "task_due": due, "task_mark": false }));
        }

        function updateTask(id, name, desc, due, mark) {
            console.log(id + ", " + name + ", " + desc + ", " + due);
            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState === XMLHttpRequest.DONE) {
                    if (this.status === 200) {
                        console.log("Task updated");
                    } else {
                        console.log("Error: " + this.status);
                    }
                    window.location.reload();
                }
            };
            xhttp.open("POST", currentHost + "/edit", true);
            xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhttp.send(JSON.stringify({ "_id": id, "task_name": name, "task_desc": desc, "task_due": due, "task_mark": mark }));
        }
    </script>
</body>
</html>
